container_commands:
  01_migrate:
    command: "source /opt/python/run/venv/bin/activate && python manage.py migrate --noinput"
    leader_only: True
  02_collectstatic:
    command: "source /opt/python/run/venv/bin/activate && python manage.py collectstatic --noinput"
  03_loaddata:
    command: "source /opt/python/run/venv/bin/activate && python manage.py loaddata initial.json"
option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "app.settings"
    DJANGO_ALLOWED_HOSTS: ".elasticbeanstalk.com"
  "aws:elasticbeanstalk:container:python":
    WSGIPath: "app/wsgi.py"
    NumProcesses: 3
    NumThreads: 20
